/* Navigation Section */

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.nav {
  text-decoration: underline;
  margin: 0 8px;
  display: inline-block;
}

nav a {
  color: black;
}

nav {
  align-items: flex-end;
  padding-right: 40px;
}

div.logo {
  padding-left: 30px;
  display: flex;
  align-items: center;
}

span.logo {
  color: MediumAquamarine;
  padding-left: 10px;
}

/* main content section */

div {
  border: 1px black solid;
}

div.content {
  display: flex;
  padding-top: 40px;
}

/* left column */

div.column.large {
  display: flex;
  margin-right: 32px;
  width: 630px;
  flex-direction: column;
}

.lead-story {
}

.stories {
}

.text-content {
}

/* middle column */

div.column.medium {
  display: flex;
  width: 300px;
  margin-right: 32px;
  flex-direction: column;
}

/* right column */

div.column.small {
  display: flex;
  width: 240px;
  margin-right: 32px;
  flex-direction: column;
}

img.column.small {
  display: flex;
}

.news-bites {
}
